.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.toolBar {
    flex: 0 0 auto;
}

.results {
    display: flex;
    flex-direction: column;
    overflow: auto;

    padding: 0.5em;
}

.result {
    & + .result {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid #111;
    }
}
