@use "~@blueprintjs/core/lib/scss/variables" as bp;

$border-color: bp.$dark-gray5;
$glow-color: bp.$turquoise5;

$font-size: bp.$pt-font-size;
$font-size-small: bp.$pt-font-size-small;
$font-size-large: bp.$pt-font-size-large;
