@use "reset.scss";
@use "~@blueprintjs/core/lib/scss/variables";

@import "~@blueprintjs/core/lib/css/blueprint.css";

html,
body,
#___gatsby,
#___gatsby > * {
    height: 100%;
    width: 100%;
}

.gutter {
    background-color: #eee;

    &.gutter-horizontal {
        cursor: ew-resize;
    }
}
