.doxygen {
    dl > dt {
    }

    dl > dd {
        margin-left: 2em;
    }

    dl + dl {
        margin-top: 0.5em;
    }

    :global p.rubric {
        font-weight: bold;
        font-size: 1.4em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    :global tt.descname,
    :global tt.descclassname,
    :global code.descname,
    :global code.descclassname {
        font-weight: bold;

        // Override default blueprint code css
        padding: 0;
        border: none;
        color: inherit;
        font-size: inherit;
        box-shadow: none;
        border-radius: 0;
    }

    :global a.headerlink {
        opacity: 0.25;
        padding: 0 4px;
        font-size: 1.25em;
        text-decoration: none;
    }

    :global a.headerlink:hover {
        opacity: 1;
    }
}
