.header {
    font-size: 16px;

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    a.pageLink {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &,
        &:active,
        &:visited,
        &:focus,
        &:hover {
            outline: none;
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            filter: brightness(85%);
        }

        .icon {
            width: 1em;
            height: 1em;
            margin-right: 4px;

            fill: currentColor;
        }
    }
}
