.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.fullHeight {
        height: 100%;
    }
}

.header {
    flex: 0 0 auto;

    padding-bottom: 2px;
}

.content {
    flex: 1 1 auto;
}
