.split {
    width: 100%;
    height: 100%;

    display: flex;
    overflow: hidden;

    &.rows {
        flex-direction: column;
    }

    &.columns {
        flex-direction: row;
    }
}

.column {
    flex: 1 1 auto;
    width: 0;
    overflow: auto;
}

.row {
    flex: 1 1 auto;
    height: 0;
    overflow: auto;
}
